<% @content_frame = "thin" %>
<% @menu_hide = true %>


<% content_for :title do %>
    <title>We have encountered an error</title>
<% end %>

<% content_for :head do %>
<% end %>

<% content_for :foot do %>
<% end %>





<h2 class="orange space-above-4x space-below">It seems we've encountered an error...</h2>

<p>
  Unfortunately, it seems your last request or process has caused an error. Please try again in 5-10 minutes.
</p>

<p>
  If this issue repeats, please reach out to <b><%= mail_to(CORPORATE_EMAIL_INFO, CORPORATE_EMAIL_INFO) %> </b> with the details.
</p>

