/******************************************************
** Variables
******************************************************/
$orange: rgb(248, 152, 29);
$gray-25: rgb(25, 25, 25);
$gray-50: rgb(50, 50, 50);
$gray-75: rgb(75, 75, 75);
$gray-100: rgb(100, 100, 100);
$gray-125: rgb(125, 125, 125);
$gray-150: rgb(150, 150, 150);
$gray-175: rgb(175, 175, 175);
$gray-200: rgb(200, 200, 200);
$gray-225: rgb(225, 225, 225);
$gray-250: rgb(250, 250, 250);
$red: rgb(240, 30, 0);
$red-alpha: rgba(84, 11, 0, 0.9);
$sidebar-width: 250px;
$green: rgb(68, 239, 52);
