

<h1 class="orange">Salesforce Photo Shoot </h1>
<p class="section-details">
  <%= @study[:description] %>
</p>


<div class="row collapse small-up-3 medium-up-6 space-above-2x">
  <div class="column"><img class="left" src="http://cdn-public.clearboxstudios.com/portfolio/photos/2015.02.19 - SalesForce - 4510.jpg"></div>
  <div class="column"><img class="left" src="http://cdn-public.clearboxstudios.com/portfolio/photos/2015.02.19 - SalesForce - 2304.jpg"></div>
  <div class="column"><img class="left" src="http://cdn-public.clearboxstudios.com/portfolio/photos/2015.02.19 - SalesForce - 2457.jpg"></div>
  <div class="column"><img class="left hide-for-small-only" src="http://cdn-public.clearboxstudios.com/portfolio/photos/2015.02.24 - SalesForce - 6732.jpg"></div>
  <div class="column"><img class="left hide-for-small-only" src="http://cdn-public.clearboxstudios.com/portfolio/photos/2015.02.24 - SalesForce - 9949.jpg"></div>
  <div class="column"><img class="left hide-for-small-only" src="http://cdn-public.clearboxstudios.com/portfolio/photos/2015.02.19 - SalesForce - 1760.jpg"></div>
</div>


<div class="row data-equalizer" data-equalizer data-equalize-on="medium" >

  <div class="columns medium-6 large-5 callout-container">

    <div class="columns small-centered callout-details" data-equalizer-watch>

      <h2 class="text-center space-above-2x">Results</h2>

      <div class="row space-above">

        <div class="columns callout-number">
          <h3>106</h3>
        </div>

        <div class="columns callout-description">
          # of employee
          appointments
        </div>

      </div>

      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>$20</h3>
        </div>

        <div class="columns callout-description">
          cost
          per person
        </div>

      </div>

      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>10:00</h3>
        </div>

        <div class="columns callout-description">
          minutes needed
          per person
        </div>

      </div>

      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>12,875</h3>
        </div>

        <div class="columns callout-description">
          total number of
          photos taken
        </div>

      </div>


      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>5</h3>
        </div>

        <div class="columns callout-description">
          business days
          to delivery
        </div>

      </div>



    </div>

  </div>

  <div class="columns medium-6 large-7 study-description" data-equalizer-watch>

    <h2 class="orange space-above-2x">Getting Started</h2>

    <p>
      After the initial outreach from Salesforce, a quick phone call helped us lock down the days and rate,
      after which an internal Google Spreadsheet was started for Chicago office team members to sign up for 10 minute slots.
    </p>

    <p>
      The response was immediate; after a few hours 60 slots were taken,
      with more in line and  asking for additional days. The overwhelming demand had us take our
      initial 2 days of onsite shooting and add another, which filled up just as quickly.
    </p>


    <h2 class="orange space-above">The Shoot</h2>
    <p>
      A conference room was booked onsite, giving employees a full day of appointment slots
      between 9am and 6pm each day. The final tally was 12,876 photos (863 selected) across 106 individuals,
      all completed and delivered online within 5 business days of shooting.
    </p>


    <h2 class="orange space-above">Delivery</h2>
    <p>

      Each individual's photos were automated and uploaded onto the Clearbox servers,
      and each was emailed a private, random password to view their final proofs.
      The group rate promises a minimum of 5 selected and retouched photos per person,
      with the average delivery for this project was 8 photos per person.
    </p>



  </div>
</div>


<div class="row column">
  <h2 class="orange space-above">Conclusion</h2>
  <p>
    Our streamlined process, from photography to delivery, has allowed Clearbox
    Studios to be incredibly efficient and low-cost, giving our clients the satisfaction of
    knowing their photography needs are in professional hands.
  </p>

  <p class="space-above-4x">
    Do you need new photos?
    <%= link_to 'Contact us now', contact_url, class:'orange underlined-links' %> to update your employee professional photos at a great group rate!
  </p>
</div>
  
