

<h1 class="orange">Slalom Film Festival</h1>
<p class="section-details">
  <%= @study[:description] %>
</p>

<div class="row collapse small-up-3 medium-up-4 space-above-2x">

  <div class="column"><img class="left" src="http://cdn-public.clearboxstudios.com/case_studies/photos/rendezvous-admen.jpg"></div>
  <div class="column"><img class="left" src="http://cdn-public.clearboxstudios.com/case_studies/photos/rendezvous-chariots.jpg"></div>
  <div class="column"><img class="left" src="http://cdn-public.clearboxstudios.com/case_studies/photos/rendezvous-charlotte.jpg"></div>
  <div class="column"><img class="left hide-for-small-only" src="http://cdn-public.clearboxstudios.com/case_studies/photos/rendezvous-clown.jpg"></div>
</div>


<div class="row data-equalizer" data-equalizer data-equalize-on="medium" >

  <div class="columns medium-6 large-5 callout-container">

    <div class="columns small-centered callout-details" data-equalizer-watch>

      <h2 class="text-center space-above-2x">Results</h2>

      <div class="row space-above">

        <div class="columns callout-number">
          <h3>11</h3>
        </div>

        <div class="columns callout-description">
          directors
          chosen
        </div>

      </div>

      <div class="row space-above">

        <div class="columns callout-number">
          <h3>14</h3>
        </div>

        <div class="columns callout-description">
          average team size
        </div>

      </div>


      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>73%</h3>
        </div>

        <div class="columns callout-description">
          Chicago office
          participation
        </div>

      </div>

      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>$3,500</h3>
        </div>

        <div class="columns callout-description">
          budget per
          film
        </div>

      </div>



      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>18</h3>
        </div>

        <div class="columns callout-description">
          weeks of
          production
        </div>

      </div>


      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>5-7</h3>
        </div>

        <div class="columns callout-description">
          minute length per
          short film
        </div>

      </div>


      <div class="row space-above-2x">

        <div class="columns callout-number">
          <h3>5</h3>
        </div>

        <div class="columns callout-description">
          business days
          per cut
        </div>

      </div>



    </div>

  </div>


  <div class="columns medium-6 large-7 study-description" data-equalizer-watch>
    <h2 class="orange space-above-2x">The Idea</h2>

    <p>
      In 2011 (and later again in 2012), Slalom Chicago wanted their annual retreat, named "Rendezvous", to be a Film Festival theme:
      consultants would apply to become film 'directors', 11 directors would be chosen, each director would build a team
      from Slalom employees, and has a budget of $3500 to produce a short 5-7 minute film. These 11 films would then be combined and
      shown as a Film Festival during the annual event in June, with awards and recognitions in true festival fashion.
    </p>

    <p>
      The goal of this endeavour would be three-fold:
    <ol>
      <li>Provide a creative opportunity for their IT consultants.</li>
      <li>Allow employees from across departments to meet, mingle, and have fun together.</li>
      <li>Build up months-long anticipation for the annual retreat event itself in June.</li>
    </ol>
    </p>


    <h2 class="orange space-above">The Preparation</h2>
    <p>
      Slalom Consulting reached out to our founder, Vikas Wadhwa, to manage the film festival entries and make sure budgets and timelines were
      met for all 11 teams. Each team was in charge of recruiting their own members, with the following rules:

    <ul class="square">
      <li>All acting would be done by Slalom consultants/families only.</li>
      <li>A consultant could only be a part of ONE team.</li>
      <li>All submissions must adhere to morals standards (no foul language, nudity, etc).</li>
      <li>Only non-copywritten music and imagery may be used.</li>
      <li>The budget of $3500 would be used for all equipment, labor, props, food and drink for each film.</li>
      <li>Submissions must be between 5 and 7 minutes in length.</li>
    </ul>

    Preparation began in January, with the selection of 'directors' and teams finalized by early February.
    </p>



    <h2 class="orange space-above">The Teams</h2>
    <p>
      Clearbox Studios prepared an introduction presentation for the chosen directors to introduce them to the festival rules
      and guidelines for making a short film. Best practices and "what to expect" were discussed to help prepare the directors
      for their first short film.
    </p>

    <p>
      Each director was then to assemble their film team, comprised entirely of Slalom consultants; team members would be
      responsible for writing, acting, building props, providing food, and any other activities needed to produce the film.
    </p>


    <p>
      The directors were encouraged to pick team members across seniorities, departments, and skillsets; the goal of this festival
      was not only to produce great films but to involve all the employees of the office, and get them to know others they
      would not normally meet in the office.
    </p>

    <p>
      The final production utilized 154 employees across the 11 teams, which represented just about 73% of the entire Chicago office.
    </p>

    <h2 class="orange space-above">The Production</h2>
    <p>
      Each director was given budgetary freedom to determine the cost priorities of their shoot: equipment, labor,
      post-production effects, location, food, and so on. Clearbox Studios provided the majority of the
      production and post-production crew and equipment, with Vikas Wadhwa specifically managing the entire production and all
      11 teams.
    </p>

    <p>
      From February to March, each director team went through weekly updates, strategy sessions, writing and visual workshops
      to prepare them for their slotted April filming; the majority of teams were able to complete filming on individual Saturdays.
    </p>

    <h2 class="orange space-above">The Editing</h2>
    <p>
      Editing began for each team immediately after their shoots. The average Clearbox Studios turnaround of each
      5-7 minute rough cut was 5 business days, with each team allowed 2 additional revisions to complete the final cut.

      Each director was scheduled twice-weekly meetings with their Clearbox editor to keep abreast of any issues or needed changes.
      The target for each final cut was the first week of May, to allow the films to be approved by both the Chicago Leadership
      and the National Executive team, including both the President and CEO of the company.
    </p>

    <h2 class="orange space-above">The Review</h2>
    <p>
      Of the 11 teams, only 2 had any requested changes from the executive review, both of which were minor and turned around within
      a day. After seeing these final films, the executives were even more excited to see them again live with the Chicago Office at Rendezvous, saying
      that the consistent quality of the final results was head and shoulders above earlier film festival events at the headquarters
      in Seattle, and would set a new bar for these retreats across the various offices.
    </p>


    <h2 class="orange space-above">The Festival</h2>
    <p>
      The Chicago Rendezvous 2011 Film Festival was a resounding success; the actual Friday night festival was a very lavish affair
      with dinner, activities, and two theatres for the 11 films. A full awards ceremony with trophies and speeches followed on Saturday night.
    </p>

    <p>
      Employee surveys at, and after, the weekend were overwhelmingly positive, with many citing not only the quality of the final films,
      but the newfound comraderie they felt with their coworkers after going through the process together.
    </p>

  </div>



</div>


<div class="row column">
  <h2 class="orange space-above">Conclusion</h2>
  <p>
    The success of the Rendezvous 2011 Film Festival lead Slalom Chicago to do a similar film festival the following year,
    with Vikas and Clearbox Studios again managing the production. The trust and confidence placed in Clearbox Studios
    was recognized and rewarded with the 2012 event and has continued with many more collaborations between the two companies since.
  </p>

  <p class="space-above-4x">
    Do you have a creative, game changing idea?
    <%= link_to 'Contact us now', contact_url, class:'orange underlined-links' %> to encourage YOUR company's creative talent and promote social team-building!
  </p>
</div>
