/******************************************************
** Import variables
******************************************************/
@import "global/variables";

/******************************************************
** Section containers
******************************************************/


.section-details {
  width: 96%;
  margin-bottom: 2em;
  color: $gray-50;
  font-size: .8em;
  clear: both;
}

.social-section {
  font-size: 1.1em;
}

/******************************************************
** Misc
******************************************************/
.profile-image {
  margin-right: 2em;
}