/******************************************************
** Import variables
******************************************************/
/******************************************************
** Variables
******************************************************/
/* line 8, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.hero-container {
  height: 10em;
}

/* line 12, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.hero-image {
  width: 33%;
  height: 14em;
  background-repeat-x: no-repeat !important;
  background-repeat-y: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  float: left;
}

/* line 24, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.hero-image.eh {
  background-image: url("http://cdn-public.clearboxstudios.com/portfolio/photos/eh_01_small.jpg");
  background-position-x: 0% !important;
  background-position-y: 50% !important;
}

/* line 30, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.hero-image.ninth {
  background-image: url("http://cdn-public.clearboxstudios.com/portfolio/photos/ninth_floor_02_small.jpg");
  background-position-x: 0% !important;
  background-position-y: 10% !important;
}

/* line 37, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.hero-image.panasonic {
  background-image: url("http://cdn-public.clearboxstudios.com/portfolio/photos/panasonic_01_small.jpg");
  background-position-x: 0% !important;
  background-position-y: 10% !important;
}

/* line 45, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.case-study-container {
  padding: 0 2em !important;
}

/* line 49, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.case-study-container.right {
  padding: 0;
}

/* line 53, /Volumes/Storage/Dropbox/Repositories/bit--wadhwa-media/clearboxstudios.com/app/assets/stylesheets/about.css.scss.erb */
.study-description {
  padding-right: 2em;
}
