<% content_for :foot do %>
    <script>
        var form_error_modal = $('#form_error_modal');
    </script>
<% end %>



<div id="form_error_modal" class="small reveal" data-reveal aria-labelledby="There were issues with your submission" aria-hidden="true" role="dialog">


  <div id="error_explanation">
    <h2 class="orange">We're sorry</h2>
    <p class="section-details">There has been an issue with this upload. The corrections needed are below.</p>
    <ul>

    </ul>
  </div>


  <div class="row submission">
    <button class="close-button button secondary" data-close aria-label="Close reveal" type="button">Close</button>
  </div>


</div>
